* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    background: url(../img/stars.jpg);
}
.wrapper {
    perspective: 100px;
}
.text {
    max-width: 300px;
    margin: 0 auto;
    animation-name: sw-animation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
    color: yellow;
}
.text > * {
    margin-bottom: 20px;
}
@keyframes sw-animation {
    0% {
        margin: 900px auto;
        transform: scale3d(4.5, 3.5, 2.5) rotateX(15deg);
        
    }
    100% {
        margin: -500px auto;
        transform: scale3d(1, 1, 1) rotateX(15deg);
    }
}